<mat-card>
  <mat-card-title>Project overview</mat-card-title>
  <mat-card-content>
    <mat-card>
      <mat-card-title>Backlog</mat-card-title>
      <mat-card-content>
        <div cdkDropList id="backLog" [cdkDropListData]="backlog"
             [cdkDropListConnectedTo]="allDropLists" class="example-list" (cdkDropListDropped)="onStoriesDrop($event)">
          <div class="example-box" *ngFor="let story of backlog" cdkDrag>
            <div>
              {{story.name}}
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
    <mat-card *ngFor="let sprint of sprints">
      <mat-card-title (click)="openSprintPage(sprint.uid)" style="cursor: pointer">{{sprint.name}}</mat-card-title>
      <mat-card-content>
        <p>Start date: {{sprint.start_date.toDate() | date: 'dd/MM/yyyy'}}</p>
        <p>End date: {{sprint.end_date.toDate() | date: 'dd/MM/yyyy'}}</p>
      </mat-card-content>
      <div cdkDropList id="{{sprint.uid}}" [cdkDropListData]="(sprint.stories_ref | async) || []"
           [cdkDropListConnectedTo]="allDropLists" class="example-list" (cdkDropListDropped)="onStoriesDrop($event)">
        <div class="example-box" *ngFor="let story of sprint.stories_ref | async" cdkDrag>
          <div>
            {{story.name}}
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onCreateSprint()" >Create sprint</button>
      <div *ngIf="(project$ | async) as project" style="display: inline; margin-left: 15px">
        <button mat-raised-button color="primary" *ngIf="userIsOwner(project)" (click)="onCreateUserStory()" >Create User Story</button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
