<mat-card>
  <mat-card-title>Users</mat-card-title>
  <mat-card-content>
      <table *ngIf="project" [dataSource]="project.roles" class="mat-elevation-z8"
             mat-table
             multiTemplateDataRows>
        <ng-container *ngFor="let column of columnsToDisplay" matColumnDef="{{column}}">
          <th *matHeaderCellDef mat-header-cell>
            {{column}}
          </th>
          <td *matCellDef="let element" mat-cell>
            <div [ngSwitch]="column">
              <div *ngSwitchCase="'members'">
                <div *ngIf="(element.user | doc | async) as user">
                  {{user.email}}
                </div>
              </div>
              <div *ngSwitchCase="'role'">
                <div>
                  <mat-icon *ngIf="compareOwnerString(element.role); else member" aria-hidden="false"
                            aria-label="owner">verified
                  </mat-icon>
                  <ng-template #member>
                    <div>
                      {{element.role}}
                        <button  *ngIf="userIsOwner" aria-label="Remove" (click)="removeUser(element)" mat-icon-button >
                          <mat-icon aria-hidden="false" aria-label="remove" color="warn">clear</mat-icon>
                        </button>
                        <button *ngIf="userIsOwner" aria-label="owner" (click)="promote(element)" mat-icon-button >
                          <mat-icon aria-hidden="false" aria-label="remove" color="warn">favorite</mat-icon>
                        </button>
                    </div>


                  </ng-template>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
        <tr *matRowDef="let element; columns: columnsToDisplay" mat-row>
      </table>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="openDialog()" color="primary" mat-raised-button>Add user</button>
  </mat-card-actions>
</mat-card>
