<div *ngIf="(memberDoc | doc | async) as member">
  <div class="example-container">
    <h2>{{member.email}}</h2>
    <div (cdkDropListDropped)="drop($event,'New')"
         [cdkDropListData]="newDocs"
         cdkDropListSortingDisabled
         cdkDropList
         class="example-list">
      <div *ngFor="let newDoc of newDocs">
        <div *ngIf="(newDoc | doc | async) as newCard">
          <div *ngIf="!newCard.isArchived"  cdkDrag class="example-box">
            {{newCard.name}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>In Progress</h2>
    <div (cdkDropListDropped)="drop($event, 'In Progress')"
         [cdkDropListData]="inProgressDocs"
         cdkDropListSortingDisabled
         cdkDropList
         class="example-list">
      <div *ngFor="let newDoc of inProgressDocs">
        <div *ngIf="(newDoc | doc | async) as newCard">
          <div *ngIf="!newCard.isArchived"  cdkDrag class="example-box">
            {{newCard.name}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div (cdkDropListDropped)="drop($event,'Done')"
         [cdkDropListData]="doneDocs"
         cdkDropListSortingDisabled
         cdkDropList
         class="example-list">

      <div *ngFor="let newDoc of doneDocs">
        <div *ngIf="(newDoc | doc | async) as newCard">
        <div *ngIf="!newCard.isArchived"  cdkDrag class="example-box">
            {{newCard.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
