<div class="aligner" fxLayout="column" fxLayoutAlign="center" style="height: 100vh">
  <div fxLayout="row" fxLayoutAlign="left">
    <mat-card>
      <mat-card-title>Users</mat-card-title>
      <mat-card-content>
        <div *ngIf="project$ | async as project">
          <table mat-table
                 [dataSource]="project.members">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
              <th mat-header-cell *matHeaderCellDef>
                {{column}}
              </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="(element | doc | async) as user">
                  {{user.email}}
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay">
          </table>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addUserToProject()">Add user</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="aligner" fxLayout="column" fxLayoutAlign="center" style="height: 100vh">
  <app-sprints-overview></app-sprints-overview>
</div>
