table {
  width: 100%;
}

form {
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
}

::ng-deep .no-margin-card-header .mat-card-header-text {
  margin: 0;
}

.no-margin {
  margin: 0 !important;
}

.full-width {
  width: 100%;
}


.align-form-center {
  display: flex;
  height: 100vh;
  align-items: center;
}
