<div class="aligner" fxLayout="column" fxLayoutAlign="center center" style="height: 100vh">
  <mat-card fxFlex="90%" fxFlex.gt-md="80%"
            style="border-color: transparent; box-shadow: none; background-color: transparent; margin: auto">
    <mat-card-title>
      <h2>
        Projects
      </h2>
    </mat-card-title>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="15px">
      <mat-card *ngFor="let project of projects$ | async" class="example-card" (click)="openProject(project.id)">
        <mat-card-title>{{project.name}}</mat-card-title>
        <mat-card-content>
          <p>
            Owner: {{project.owner}} <br>
            Status: {{project.status}}
          </p>
          <p style="max-height: 100px; overflow: hidden">
            {{project.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>

