<div cdkDropListGroup>
  <div *ngIf="sprint" class="example-container">
    <h2>{{sprint.name}}</h2>
    <div
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="backlogStories"
      cdkDropListSortingDisabled
      cdkDropList
      class="example-list">

      <div *ngFor="let itemRef of sprint.user_stories">
        <div *ngIf="(itemRef | doc | async) as item">
          <div *ngIf="!item.isArchived && !item.owner" cdkDrag class="example-box">
            <div>
              {{item.storyPoints}}<br>
              <b>{{item.name}}</b><br>
              {{item.description}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="(project$ | async) as project">
    <div *ngFor="let memberDoc of project.members">
      <app-user-status-board [memberDoc]="memberDoc" [sprintDoc]="sprint$"></app-user-status-board>
    </div>
  </div>
</div>

<div *ngIf="sprint">
  <app-line-chart [sprint]="sprint" [projectId]="projectId" [reload]="this.reloadEmitter"></app-line-chart>
</div>
